@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Regular.ttf") format("ttf"),
    url("../fonts/SourceSansPro-Regular.ttf") format("ttf");
}
*{
    margin:0;
    padding:0;
}
body{
    background: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.main{
    padding-top: 200px;
}
.logo{
    width:520px;
    display: flex;
    justify-content: center;
}
.logo img{
    width:80%;
}
.participate{
    width: 320px;
    height: 55px;
    border-radius: 25px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#008cff+0,008cff+100 */
    background: #008cff; /* Old browsers */
    background: -moz-linear-gradient(top,  #008cff 0%, #008cff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #008cff 0%,#008cff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #008cff 0%,#008cff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cff', endColorstr='#008cff',GradientType=0 ); /* IE6-9 */
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}
.participate p{
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 2.5;
    font-family: Barlow, Arial, sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 500px){
    .logo{
        width:100%;
        margin:0 auto;
    }
    .participate{
        width:60%;
        height:50px;
    }
    .participate p{
        font-size: 18px;
        line-height: 2.8;
    }
}